<div class="searchMacro">
    <h4 class="resultSummary">
        #if ( $query )
            $action.getText("search.found-results-with-query", [ $totalSearchResults.intValue(), $generalUtil.htmlEncode( $query ) ])
        #else
            $action.getText("search.found-results", [ $totalSearchResults.intValue() ])
	#end
 
    #if( $maxLimit.intValue() != -1 && $maxLimit.intValue() < $totalSearchResults.intValue() )
        ($action.getText("search.display-limit") <strong>$maxLimit.intValue()</strong>)
    #end
    </h4>

    #if($searchResults.size() > 0 )
		#foreach ($searchResult in $searchResults)
			<div class="result">
            #searchResult($searchResult "true" $query)
            </div>
        #end
    #end
</div>
